@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

body {
    font-family: "Roboto";
}

video {
  max-width: 100%;
  width: 320px;
}

#welcome {
    text-align: center;
}
#welcome a{
    text-decoration: none;
    color: #fff;
    background-color: #90C3D4;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    
}